.signup-form{
    max-width: 60%;
    margin: 0 auto;
    margin-top: 30px;
}

.signup-form .card-header{
    background-color: #c3aed5;
    font-weight: bold;
    letter-spacing: 2px;
    color: #1c1c1c;
}

.signup-form input[type="file"]{
    color: #8675a9;
}

.signup-form button[type="button"]{
    width: 50%;
    padding: 10px 0;
    background-color: #ab8091;
    border-color: #efbccf;
}

.signup-form button[type="button"]:hover{
    background-color: #c3aed5;
}

.signup-form span.obligatory{
    color: rgb(187, 45, 45);
}

.signup-form .card-footer{
    background-color: #c3aed5;
    color: black;
}