.login-form button[type="button"]{
    width: 50%;
    padding: 10px 0;
    background-color: #8675a9;
    border-color: #8675a9;
}

.login-form button[type="button"]:hover{
    background-color: #c3aed5;
    border-color: #c3aed5;
}