.Toastify__toast-container {
  width: auto;
}

.Toastify__toast {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;

  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color),
    0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);

  border-radius: 1.5rem /* 24px */;
}

.Toastify__toast-body {
  gap: 2rem;

  margin: 0;

  padding-left: 1.25rem /* 20px */;
  padding-right: 1.25rem /* 20px */;
  padding-top: 0.5rem /* 8px */;
  padding-bottom: 0.5rem /* 8px */;
}

.Toastify__toast-theme--light,
.Toastify__toast-theme--dark,
.Toastify__toast-theme--colored.Toastify__toast--default,
.Toastify__toast-theme--colored.Toastify__toast--info,
.Toastify__toast-theme--colored.Toastify__toast--success,
.Toastify__toast-theme--colored.Toastify__toast--warning,
.Toastify__toast-theme--colored.Toastify__toast--error {
  background-color: rgb(243 244 246 / 1);

  color: rgb(17 24 39 / 1);
}

.dark .Toastify__toast-theme--light,
.dark .Toastify__toast-theme--dark,
.dark .Toastify__toast-theme--colored.Toastify__toast--default,
.dark .Toastify__toast-theme--colored.Toastify__toast--info,
.dark .Toastify__toast-theme--colored.Toastify__toast--success,
.dark .Toastify__toast-theme--colored.Toastify__toast--warning,
.dark .Toastify__toast-theme--colored.Toastify__toast--error {
  background-color: rgb(31 41 55 / 1);

  color: rgb(249 250 251 / 1);
}

.Toastify__progress-bar-theme--colored.Toastify__progress-bar--info,
.Toastify__progress-bar-theme--colored.Toastify__progress-bar--success,
.Toastify__progress-bar-theme--colored.Toastify__progress-bar--warning {
  background-color: rgb(147 51 234 / 1);
}

.Toastify__progress-bar-theme--colored.Toastify__progress-bar--error {
  background-color: rgb(220 38 38 / 1);
}
